<a href="https://colab.research.google.com/github/memetics19/Mutual_funds-model/blob/master/Mutual_Funds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
from google.colab import drive
drive.mount('/content/drive',force_remount=False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd

In [0]:
df=pd.read_csv("/content/drive/My Drive/data (1).csv")

In [58]:
df.columns

Index(['fund_house', 'scheme_type', 'scheme_category', 'scheme_code',
       'scheme_name', 'scheme_start_date__date', 'scheme_start_date__nav',
       'data__date', 'data__nav'],
      dtype='object')

In [0]:
# drop fund_housescheme_typescheme_categoryscheme_codescheme_name
df = df.drop(df[["fund_house","scheme_type","scheme_category","scheme_code","scheme_name"]],axis=1)

df=df.dropna(axis=0)

In [60]:
df.head()

  scheme_start_date__date  scheme_start_date__nav  data__date  data__nav
0              02-01-2013                   16.83  08-05-2020    34.0683

In [0]:
#df["returns"]=((df["scheme_start_date__nav"]-df["data__nav"])/df["data__nav"])*100
df["returns"]=((df["data__nav"]-df["scheme_start_date__nav"])/df["scheme_start_date__nav"])*100

In [62]:
df.head()

  scheme_start_date__date  scheme_start_date__nav  ... data__nav     returns
0              02-01-2013                   16.83  ...   34.0683  102.426025

[1 rows x 5 columns]