<a href="https://colab.research.google.com/github/memetics19/Mutual_funds-model/blob/master/Mutual_Funds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df=pd.read_csv("data.csv")

In [34]:
df.head()

        fund_house         scheme_type  ...  data__date  data__nav
0  SBI Mutual Fund  Open Ended Schemes  ...  08-05-2020    34.0683
1              NaN                 NaN  ...  07-05-2020    33.9274
2              NaN                 NaN  ...  06-05-2020    34.2533
3              NaN                 NaN  ...  05-05-2020    33.9496
4              NaN                 NaN  ...  04-05-2020    34.2619

[5 rows x 9 columns]